POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_DB=gatus
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXXXXXXXXXX/XXXXXXXXXXX/XXXXXXXXXXXXXXXXXXXXXXXX
